@media (max-width: 992px) {
  .header {
    padding-top: 10px;
    padding-bottom: 19px;
  }
  .header__content {
    justify-content: space-between;
  }
  .header__nav {
    order: 3;
    width: 100%;
    margin-right: 0;
    margin-top: 29px;
  }
  .header__btns {
    order: 2;
  }
  .nav__list {
    width: 100%;
    justify-content: space-between;
  }
  .title {
    line-height: 100%;
    font-size: 50px;
  }
  .hero__content {
    padding-top: 5px;
  }
  .result__content {
    padding-top: 0;
  }
  .result__item {
    padding-left: 0;
    padding-top: 138px;
    background-position: left 19px;
  }
  .result {
    padding: 60px 0;
  }
  .result__top {
    margin-bottom: 3px;
  }
  .second-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
  }
  .result__subdescr {
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
  }
  .result__subtitle {
    margin-bottom: 21px;
  }
  .result__subdescr .descr:not(:last-child) {
    margin-bottom: 13px;
  }
  .products {
    padding-top: 60px;
    padding-bottom: 0;
  }
  .product-item__image {
    margin-bottom: 17px;
  }
  .product-item {
    padding-bottom: 60px;
  }
  .product-item__descr {
    max-width: 95%;
  }
  .partners__item {
    height: 80px;
  }
  .partners {
    padding: 60px 0;
  }
  .partners__item img {
    max-width: 84%;
  }
  .scetch {
    padding-top: 34px;
    padding-bottom: 36px;
    background-image: url('/img/sketchbook-tablet.png');
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  .scetch__title {
    margin-bottom: 22px;
  }
  .scetch__hidden {
    display: none;
  }

}
@media (max-width: 768px) {
  .title {
    margin-bottom: 20px;
    font-size: 38px;
    line-height: 100%;
  }
  .header {
    padding-bottom: 11px;
}
.hero {
  padding: 0;
  padding-top: 26px;
}
.hero__content {
  padding-top: 40px;
}
.descr {
  font-size: 16px;
}
.hero__descr {
  margin-bottom: 45px;
}
.link {
  padding: 18px 63px;
}
.result {
  padding: 0;
  padding-bottom: 86px;
  padding-top: 60px;
}
.result__item {
  background-position: left 13px;
  padding-top: 130px;
}
.result-descr {
  margin: 0;
  font-size: 16px;
}
.result__caption {
  font-size: 16px;
}
.result__content {
  padding-top: 28px;
}
.result__subtitle {
  margin-bottom: 11px;
  font-size: 24px;
}
.result__subdescr {
  font-size: 16px;
}
}
