:root {
  --main-color: #4C5866;
  --border-color: #DDDDDD;
  --text-color: #85859B;
  --link-color: #7875FE;
  --bg-color: #E5E5E5;
  --dove-gray-color: #666;
  --waterloo-color: #B5B5BD;
  --active-color: #4946B4;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

body {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
img {
  width: 100%;
}
.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.descr {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--text-color);
}

.link {
  display: inline-block;
  padding: 22px 89px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--link-color);
  border: 1px solid currentColor;
  transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.link:focus {
  outline: none;
}

.link.focus-visible {
  background-color: #DAD9FB;
}

.link:hover {
  color: #fff;
  background-color: var(--link-color);
}

.link:active {
  color: #fff;
  background-color: var(--active-color);
  border-color: var(--active-color);
}

.second-title {
  margin: 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  color: var(--dove-gray-color);
}
.flex-to-end {
  align-items: flex-end;
}
/* //////header////// */
.header {
  padding: 26px 0;
  border-bottom: 1px solid var(--border-color);
}

.header__logo {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header__content {
  align-items: center;
}

.header__btn:not(:last-child) {
  margin-right: 26px;
}

.header__nav {
  margin-right: 60px;
}

.nav__list {
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 60px;
}

.nav__link {
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--main-color);
  transition: color .3s ease-in-out;
}

.nav__link::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -7px;
  top: -4px;
  right: -7px;
  bottom: -4px;
  background-color: #DAD9FB;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.nav__link:focus {
  outline: none;
}

.nav__link:hover {
  color: var(--link-color);
}

.nav__link:active {
  color: var(--active-color);
}

.nav__link.focus-visible::after {
  opacity: 1;
}

.header__btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  transition: color .3s ease-in-out;
}

.header__btn svg {
  stroke: currentColor;
}

.header__btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -2px;
  top: -2px;
  right: -2px;
  bottom: -2px;
  background-color: #DAD9FB;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.header__btn:focus {
  outline: none;
}

.header__btn:hover {
  color: var(--link-color);
}

.header__btn:active {
  color: var(--active-color);
}

.header__btn.focus-visible::after {
  opacity: 1;
}







/* //////hero////// */
.hero {
  padding-top: 60px;
}

.hero__content {
  padding-top: 70px;
}

.title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: var(--main-color);
}

.hero__descr {
  margin-bottom: 33px;
}

/* //////result////// */
.result {
  padding-top: 90px;
  padding-bottom: 87px;
  background-color: var(--bg-color);
}

.result__item {
  padding: 37px 0;
  padding-left: 190px;
  border-top: 1px solid #c0c0c0;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 160px 118px;
}

.result__item--v1 {
  background-image: url("../img/result-1.png");
}

.result__item--v2 {
  background-image: url("../img/result-2.png");
}

.result__item--v3 {
  background-image: url("../img/result-3.png");
}

.result__caption {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--dove-gray-color);
}

.result__top {
  margin-bottom: 72px;
}

.result__content {
  padding-top: 60px;
}

.result__subtitle {
  margin-bottom: 15px;
}

.result__subdescr .descr {
  line-height: 170%;
}

.result__subdescr .descr:not(:last-child) {
  margin-bottom: 15px;
}

/* //////products////// */
.products {
  padding-top: 90px;
  padding-bottom: 90px;
}

.product-item {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.product-item__image {
  margin-bottom: 20px;
}

.product-item__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: var(--dove-gray-color);
}

.product-item__print {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  color: var(--waterloo-color);
}

.product-item__descr {
  margin-bottom: 20px;
  line-height: 170%;
}
.products__item {
  height: 100%;
}

.products__list {
  margin-left: -15px;
  margin-right: -15px;
}

.product-item__link {
  position: relative;
  margin-top: auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--link-color);
  transition: color .3s ease-in-out;
}

.product-item__link svg {
  fill: currentColor;
}

.product-item__link:hover {
  color: var(--active-color);
}

.product-item__link::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -6px;
  top: -6px;
  right: -6px;
  bottom: -6px;
  background-color: #DAD9FB;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.product-item__link:focus {
  outline: none;
}

.product-item__link.focus-visible:after {
  opacity: 1;
}

.product-item__link:active {
  color: var(--active-color);
}



/* //////partners////// */

.partners {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: var(--bg-color);
}

.partners__list {
  margin-right: -15px;
  margin-left: -15px;
}

.partners__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #C4C4C4;
  height: 135px;
}

.partners__item img {
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
}


/* /////scetchbook///// */
.scetch {
  padding-top: 90px;
}

.scetch__content {
  padding-top: 25px;
  padding-bottom: 25px;
}

.scetch__title {
  margin-bottom: 10px;
}

.scetch__descr {
  margin-bottom: 30px;
  line-height: 170%;
}

.scetch__link {
  padding: 22px 94px;
}

.fz-hack {
  font-size: 0;
}

/* /////footer///// */

.footer__top {
  padding: 27px 0;
  background-color: var(--main-color);
}

.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.social__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: color .3s ease-in-out;
}

.social__link svg {
  position: relative;
  z-index: 1;
  fill: currentColor;
}

.social__link:hover {
  color: #DAD9FB;
}

.social__link::after {
  content: "";
  position: absolute;
  z-index: 0;
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;
  background-color: var(--link-color);
  border-radius: 2px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.social__link:focus {
  outline: none;
}

.social__link.focus-visible:after {
  opacity: 1;
}

.social__link:active {
  color: var(--link-color);
}

.social__item:not(:last-child) {
  margin-right: 30px;
}

.footer__copy {
  display: block;
  width: 100%;
  padding: 3px 0;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--main-color);
}

.footer__copy span {
  color: #BCBCBC;
}


.search-form {
  display: none;
  position: relative;
  overflow: hidden;
  /* width: 224px; */
  width: 0;
  transform: translateX(-15px);
  transition: all .3s ease-in-out;
}

.search-form__input {
  width: 100%;
  padding-right: 20px;
  border: none;
  border-bottom: 1px solid #d1d1e5;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--main-color);
  transition: all .3s ease-in-out;
}

.search-form__input:focus {
  outline: none;
  border-color: #D1D1E6;
}

.search-form__input::placeholder {
  color: #d1d1e5;
}

.search-form__close {
  position: absolute;
  top: 50%;
  right: 0;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
}
.search-form__close svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-form--display {
  display: block;
}
.header__btn--visible {
  /* transform: scaleX(1); */
  width: 224px;
}

